.logo{
    font-size: 2rem;
    padding:10px;

}
nav{
    background-color: rgb(99, 98, 98);
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

body{
    margin:0;
    background-color: rgba (241, 239,241, 1);
}
.links a{
    font-size: 1.5rem;
    margin-left: 10px;;
    text-decoration: none;
}
.links{
    margin-right: 20px;
}
a:hover{
    cursor: pointer;
}
.search-bar{
    text-align: center;
    margin-top:1.5rem;
}
.search-bar input{
    width:40%;
    height: 1.5rem;
}
.search-bar button{
    width:10%;
    height:1.9rem;
    border:none;
    background-color:  rgb(99, 98, 98);;
    color:white
}
.search-bar button:hover{
    background-color: white;
    color: black;
    border:1px solid gray;
}
.search-history a{
    display: block;
    text-decoration: none;
}
.result{
    margin:20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding:20px;
}
.search-words{
    padding:10px;
    margin-left: 10px;
}
@media only screen and (max-width:425px){
    .search-bar button{
        width:20%;

    }
    audio{
        width:100%;
    }
}
@media only screen and (max-width:375px){
    nav .logo{
        font-size: 1.8rem
    }
    nav a{
        font-size: 1.3rem !important;
    }
}
@media only screen and (max-width:325px){
    nav .logo{
        font-size: 1.5rem
    }
    nav a{
        font-size: 1rem !important;
    }
}